/* Обнуление */
*{padding: 0; margin: 0; border: 0;}
*, *:before, *:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{height: 100%; width: 100%; font-size: 100%;  font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: inherit;
font-size: inherit;}

/* ------------------------ */

:root {
    --main-color-title: #212121;
    --main-color-text:  #757575;
    --color-logo: #000000;
    --second-color: #ffffff;
    --accent-color: #2196F3;
    --main-background-color: #ffffff;
    --second-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
}

body {
   
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color:  var(--main-color-text);
    background-color: var(--main-background-color);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* @media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
} */

@media (max-width: 992px) {
    
}

/* @media (max-width: 767px) {
    .container {
        max-width: none;
    }
} */
 
/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    flex: 0 1 auto;
    height: 80px;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--color-logo);
}

.logo span {
    color: var(--accent-color);
}

.header-logo {
    margin-right: 93px;

}

.header-nav {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.header-menu-list {
    display: flex; 
    gap: 50px;
 
}

.header-menu-item {
    flex: 0 1 33.33%;
    align-self: center;
}

.header-menu-link {
    position: relative;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-color-title);
    transition: all 0.3s;
}

.header-menu-link:hover,
.header-menu-link:focus,
.menu-link-active {
    color: var(--accent-color);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after,
.menu-link-active::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    top: 45px;
    left: 0;
    transition: all 0.3s;
}

.header-contact-list {
    display: flex;

    justify-content: end;
    gap: 30px;
}

.header-contact-item {
    flex: 0 1 50%;
    display: flex;
}

.header-contact-link {
    padding-left: 10px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: inherit;
}

.header-contact-item:hover,
.header-contact-item:focus,
.header-contact-item:hover svg path,
.header-contact-item:focus svg path {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: color 0.3s fill 0.1s ;
}





.header-social-list {
    display: none;
}

.open-icon-menu {
    display: none;
}

.close-icon-menu {
    display: none;
}

@media (max-width: 992px) {
    
}
/* main */

.main {
    flex: 1 1 auto;
}

/* hero */

.hero {
    display: block;
    margin-bottom: 94px;
    background-image:  linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.hero-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--second-color);
}
@media (max-width: 992px) {
    
}
.hero-btn,
.footer-subscription-form-btn  {
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--second-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: rgb(33, 150, 243, 0.8);
    transition: all 0.3s;
}

/* benefits */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    margin: 0 -15px;
    
}

.benefits-item {
    flex: 0 0 25%;
    padding: 0 15px;
}

.benefits-image-block {
    position: relative;
    padding: 0 0 44% 0;
}

.benefits-image {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10% 32%;
    background-color: var(--second-background-color);
    border-radius: 4px;
}

.benefits-item-title {
    margin: 30px 0 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color-title);
}

.benefits-item-text {
    line-height: 1.71;
}

/* works */

.works {
    margin: 94px 0;
    height: 386px;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--main-color-title);
}

.works-list {
    display: flex;
    margin: 0 -15px;
    
}
.works-item {
    position: relative;
    flex: 0 0 33.333%;
    padding: 0 15px;
}
.works-img-block {
    position: relative;
    padding: 0 0 79% 0;

}
.works-item-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.works-item-title {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 90%;
    height: 24%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--second-color);
    background-color:  rgba(47, 48, 58, 0.8);
}

/* employeers */

.employees {
    padding: 60px 0;
    background-color: var(--second-background-color);
}

.employees-list {
    display: flex;
    margin: 0 -15px;
    
}

.employees-item {
    flex: 0 0 25%;
    padding: 0 15px;
    
    /* padding-bottom: 28px; */
    
}

.employees-list-block {
    padding-bottom: 28px;
    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.employees-img-block {
    position: relative;
    padding: 0 0 95% 0;
}

.employees-img-block img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.employees-item-title {
    padding: 30px 0 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--main-color-title);
}

.employees-item-text {
    padding-bottom: 28px;
    font-size: 16px;
    text-align: center;
}

.employees-link-list {
    display: flex;
    margin: 0 25px;
   
}
.employees-link-item {
    flex: 0 0 25%;
    padding: 0 5px;
}

.employeers-social-block-img {
    position: relative;
    padding: 0 0 100% 0;
}
.employeers-social-block-img svg {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    
}
.employeers-social-network-link:hover svg path,
.employeers-social-network-link:focus svg path {
    fill: var(--second-color);
    transition: all 0.3s;
}

.employeers-social-network-link:hover svg .background,
.employeers-social-network-link:focus .backgrosvg und {
    fill: var(--accent-color);
    transition: all 0.3s;
}

/* customers */

.customers {
    padding:  94px 0;
}

.customers-list {
    display: flex;
    margin: 0 -8px;
}

.customers-item {
    flex: 0 0 16.66%;
    padding: 0 8px;
}

.customers-block-img {
    position: relative;
    padding: 0 0 50% 0;
}
.customers-block-img svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
.customers-item-link:hover svg path, 
.customers-item-link:focus svg path {
    fill: var(--accent-color);
    transition: all 0.3s;
}

.customers-item-link:hover svg rect, 
.customers-item-link:focus svg rect {
    stroke: var(--accent-color);
    transition: all 0.3s;
}

/* footer */

.footer {
    background-color: var(--footer-background-color);
}

.footer-block {
    display: flex;
    max-width: 1170px;
    justify-content: space-between;
}

.footer-location,
.footer-socials
  {
    padding: 0 30px;
}

.footer-location {
    padding: 60px 0;
}

.footer-logo {
    color: var(--second-color);
}

.footer-address-list {
    padding-top: 20px;
}

.footer-address-item {
    padding-bottom: 9px;    
}

.address-item-link {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.address-location {
    color: var(--second-color);
}

.footer-socials,
.footer-subscription {
    padding-top: 72px;
    
}

.footer-socials-list {
    display: flex; 
}

.footer-socials-item:nth-child(3),
.footer-socials-item:nth-child(4),
.footer-socials-item:last-child {
    padding-left: 10px;
}


.footer-socials-network-link svg .background:hover, 
.footer-socials-network-link svg .background:focus {
    fill: var(--accent-color);
    transition: all 0.3s;
}

.footer-socials-title, 
.footer-subscription-title {
    padding-bottom: 20px;
    text-transform: uppercase;
    color: var(--second-color);
}

.footer-subscription-form-input {
    margin-right: 6px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-subscription-form-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-form-btn {
    position: relative;
    width: 200px;
    padding-right: 28px;
}

.footer-subscription-form-btn::after {
    content: '';
    position: absolute;
    right: 28px;
    background: url('../images/telegram-icon.svg') no-repeat ; 
    width: 24px;
    height: 24px;
}

.footer-subscription-form-btn:hover,
.footer-subscription-form-btn:focus {
    background-color: rgb(33, 150, 243, 0.8);
    transition: all 0.3s;
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
    .header-logo {
        margin-right: 87px;
    }
    .header-nav {
        width: 70%;
    }
    .header-contact-list {
        flex-direction: column;
        gap: 10px;
    }
    .hero {
        margin-bottom: 60px;
    }
    .hero-container {
        height: 400px;
    }
    .hero-title {
        font-size: 26px;
        line-height: 1.62;
    }
    .hero-btn {
        width: 200px;
    }
    .benefits {
        margin-bottom: 60px;
    }
    .works {
        display: none;
    }
    .benefits-list,
    .employees-list,
    .customers-list {
        flex-wrap: wrap;
    }
    .benefits-item,
    .employees-item {
        flex: 0 0 50%;
        padding-bottom: 30px;
    }

    .customers-item {
        flex: 0 0 33.33%;
        padding-bottom: 30px;
    }
    .benefits-item:nth-child(3),
    .benefits-item:last-child,
    .employees-item:nth-child(3),
    .employees-item:last-child,
    .customers-item:nth-child(4),
    .customers-item:nth-child(5),
    .customers-item:last-child {
        padding-bottom: 0;
    }
    .employees,
    .customers {
        padding: 60px 0;
    }
    .employees-link-list {
        max-width: 206px;
        margin: 0 auto;
        padding-bottom: 24px;
   
       
    }
    .employees-list-block {
        padding-bottom: 0px;
    }

    .section-title {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .footer-block {
        flex-wrap: wrap;
    }
    .footer-location,
    .footer-socials,
    .footer-subscription {
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 0;

    }
    .footer-socials {
        padding-top: 65px;
    }
    .footer-address-item {
        padding-bottom: 8px;    
    }
    .footer-subscription {
        padding-bottom: 60px;
    }
    .footer-subscription-form-input {
        width: 450px;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 480px;
    }
    
    .header-container {
        justify-content: space-between;
        height: 60px;
 
    }
    .header-nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 50;
        background-color: var(--main-background-color);
        flex-direction: column;
        align-items: start;
        padding: 48px 40px; 
        overflow: scroll;
        
    }
    .close-icon-menu {
        position: fixed;
        right: -100%;
    }
    .header:target .header-nav  {
        left: 0;
    }
    .header:target .close-icon-menu {
        right: 15px;
        z-index: 60;
    }
    .header-menu-list {
        flex-direction: column;
        padding-bottom: 100%;
        gap: 20%;
    }
    .header-menu-item {
        font-weight: 500;
        font-size: 40px;
        align-self: start;
        
    }
    .header-menu-link:hover::after,
    .header-menu-link:focus::after,
    .menu-link-active::after {
        display: none;
    }

    .header-contact-list {
        padding-bottom: 9%;
        gap: 40%;
        
    }
    .header-contact-icon {
        display: none;
    }
    .header-contact-link {
        font-weight: 500;
        font-size: 24px;
        padding-left: 0;

    } 
    .header-contact-link:hover,
    .header-contact-link:focus {
        font-size: 34px;
    }
    .logo {
        font-size: 24px;
    }

   
    .header-social-list {
        display: flex;
        gap: 20px;
    }
    .header-social-item {
        position: relative;
    }
    .header-social-item:first-child::after,
    .header-social-item:nth-child(2)::after,
    .header-social-item:nth-child(3)::after {
        content: "";
        position: absolute;
        right: -10px;
        width: 1px;
        height: 100%;
        background-color: rgba(33, 33, 33, 0.2);
    }
    
    .header-social-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.22;
        color: var(--accent-color);
    }
    .open-icon-menu {
        position: relative;
        flex: 0 0 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 16px;
    
    }
    .open-icon-menu::before,
    .open-icon-menu::after {
        content: '';
        height: 3px;
        background-color: var(--main-color-title);
    }
    
    .open-icon-menu span {
        height: 3px;
        background-color: var(--main-color-title);
    }
    
    .open-icon-menu:hover::before,
    .open-icon-menu:focus::before,
    .open-icon-menu:hover::after,
    .open-icon-menu:focus::after,
    .open-icon-menu:hover span,
    .open-icon-menu:focus span {
        background-color: var(--accent-color);
        transition: all 0.3s;
    }
    .close-icon-menu {
        display: block;
    }
    .close-icon-menu svg {
        margin-top: 3px;
    }
    .close-icon-menu:hover svg path,
    .close-icon-menu:focus svg path {
        fill: var(--accent-color);
        transition: all 0.3s;
    }

    .benefits-item,
    .employees-item {
        flex: 0 0 100%;
    }

    .customers-item {
        flex: 0 0 50%;
    }

    .benefits-item:last-child,
    .employees-item:last-child {
        padding-top: 30px;
    }

    .footer-block {
        flex-direction: column;
    }
    .footer-location,
    .footer-socials,
    .footer-subscription {
        text-align: center;
        padding: 60px 0 0 0;

    }
    .footer-subscription {
        padding-bottom: 60px;
    }
    .footer-socials {
        padding-top: 60px;
    }
    .footer-socials-list {
        justify-content: center;
    }
    .footer-subscription-form-input {
        width: 93%;
    }
}