/* Обнуление */
*{padding: 0; margin: 0; border: 0;}
*, *:before, *:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{height: 100%; width: 100%; font-size: 100%;  font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: inherit;
font-size: inherit;}

/* ------------------------ */

:root {
    --main-color-title: #212121;
    --main-color-text:  #757575;
    --color-logo: #000000;
    --second-color: #ffffff;
    --accent-color: #2196F3;
    --main-background-color: #ffffff;
    --second-background-color: #F5F4FA;
    --footer-background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color:  var(--main-color-text);
    background-color: var(--main-background-color);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--color-logo);
}

.logo span {
    color: var(--accent-color);
}

.header-logo {
    margin-right: 87px;

}

.header-nav {
    display: flex;
    flex: 0 1 auto;
    width: 933px;
    justify-content: space-between;
}

.header-menu-list {
    display: flex;
    flex: 0 1 auto;
    margin-right: 90px;
    width: 245px;
    justify-content: space-between;
}
.header-menu-item {
    align-self: center;
}

.header-menu-link {
    position: relative;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--main-color-title);
    transition: all 0.3s;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--accent-color);
}

.header-menu-link:hover::after,
.header-menu-link:focus::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    top: 44px;
    left: 0;
    transition: all 0.3s;
}

.header-contact-list {
    display: flex;
    flex: 0 1 auto;
    width: 333px;
    justify-content: space-between;
}

.header-contact-item {
    display: flex;
}

.header-contact-link {
    padding-left: 10px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: inherit;
}

.header-contact-item:hover,
.header-contact-item:focus,
.header-contact-item:hover svg path,
.header-contact-item:focus svg path {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: color 0.3s fill 0.1s ;
}

/* main */

.main {
    flex: 1 1 auto;
}

/* hero */

.hero {
    margin-bottom: 94px;
    height: 600px;
    background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) center/ 1600px no-repeat, url(../images/hero-image.png) center/ auto 100% no-repeat;
}

.hero-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.hero-title {
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--second-color);
}

.hero-btn {
    width: 216px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--second-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--accent-color);
    background-color: var(--second-background-color);
    transition: all 0.3s;
}

/* benefits */

.benefits {
}
.container {
}
.benefits-container {
}
.benefits-title {
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.benefits-list {
    display: flex;
    border-radius: 4px;
}
.benefits-item {
    width: 25%;
    padding: 0 15px;
}
.benefits-item:first-child {
    padding-left: 0;
}
.benefits-item:last-child {
    padding-right: 0;
}

.benefits-image {
    max-width: 270px;
    width: 100%;
    height: 120px;
    padding: 25px 0;
    background-color: var(--second-background-color);
    border-radius: 4px;
    
}
.benefits-item-title {
    margin:30px 0 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color-title);
}
.benefits-item-text {
    line-height: 1.71;
}

/* footer */



.footer {
}

.footer-logo {
}